
.ortalama{
    margin-left: 614px;
}

.ortalama2{
    margin-left: 650px;
}
.ortalama3{
    margin-left: 690px;
}

.liste ul li{
    list-style: none;
}

.çizgi a{
    text-decoration: none;
}

.çizgi2 a{
    text-decoration: none;
}